@import "../../styles/variables";
@import "../../styles/mixins";

.track {
  height: 100vh;
  width: 100vw;
  display: flex;

  &__container {
    @include min-animation();
    flex: 1;
    margin: $space-xl $space-xl 0 $space-xl;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: flex-start;

      &__icon {
        @include touchable();
      }

      &__title {
        font-size: $text-xl;
        margin-left: $space-xxs;
      }
    }

    &__content {
      flex: 1;
      display: flex;
      margin-top: $space-lg;

      &__map {
        display: flex;
        flex-direction: column;
        flex: 1;

        &__title {
          font-size: $text-md;
        }

        &__content {
          flex: 1;
          display: flex;

          & > div {
            flex: 1;
            display: flex;
          }
        }
      }

      &__stats {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: $text-md;

        &__content {
          flex: 1;
          display: flex;
          flex-direction: column;

          &__stats {
            flex: 1;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: $space-xxl;
            width: 93%;
            align-self: center;
            margin-top: $space-xl;

            &__item {
              display: flex;
              cursor: pointer;
              transform: scale(1.2);
              transform-origin: top left;
              transition: transform 0.3s ease-in-out;

              &:hover {
                transform: scale(1.4);
              }
            }
          }
        }
      }
    }
  }
}
