@import "../../styles/variables";
@import "../../styles/mixins";

.map {
  @include touchable();

  flex: 1;
  margin: $space-md $space-md $space-md 0;
  display: flex;

  & > div {
    position: relative !important;
    flex: 1 !important;

    & > div {
      border-radius: $border-radius;
      box-shadow: $shadow;
    }
  }
}
