$space-unit: 1em;
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);

$color-primary: #3439d3;
$color-secondary: #000;
$color-danger: #fba542;
$color-extra-light: #f1f1f1;
$color-light: #c1c1c1;

$border-radius: 8px;

$text-base-size: 1em;
$text-scale-ratio: 1.2;
$text-xs: calc(1em / ($text-scale-ratio * $text-scale-ratio));
$text-sm: calc(1em / $text-scale-ratio);
$text-md: calc(1em * $text-scale-ratio);
$text-lg: calc(1em * $text-scale-ratio * $text-scale-ratio);
$text-xl: calc(1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);
$text-xxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio
);
$text-xxxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio * $text-scale-ratio
);

$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
